<style>
  .container-contact {
    background-color: #050F4D;
    text-align: left;
    padding:40px ;
    margin: 20px; 
    color: white;
  }

  p4 {
    color: white;
    font-family: helvetica;
    font-style: bold;
    font-size: 30px
  }

  p5 {
    color: white;
    font-family: helvetica;
    font-style: bold;
    font-size: 15px
  }
  
</style>

<div class="container-contact">
  <div class="row">
    <div class="col-sm-7">
      <br>
      <p4> Zoekt u een specialist in
       metaalbewerking? </p4>
    </div>
    <div class="col-sm-5">

      <br>
      <p5  style="font-size:20px" class="fa">&#xf095;  &nbsp Bel +123456789 </p5>
      <br>
      <p style="font-size:20px">
        <p class="fa">&#xf0e0;</p> &nbsp; Of vraag een  
        <a href="https://9b031a47-c8aa-4d88-a132-5e79040f7ed0-00-2x1qdenu4s4uy.kirk.replit.dev/contact" style="color: white !important">offerte aan</a>
      </p>

    </div>  

  </div>
</div>