<style>
  .container-contact {
    background-color: #050F4D;
    text-align: left;
    padding:40px ;
    margin: 20px; 
    color: white;
  }

  p4 {
    color: white;
    font-family: helvetica;
    font-style: bold;
    font-size: 30px
  }

  p5 {
    color: white;
    font-family: helvetica;
    font-style: bold;
    font-size: 15px
  }
  
</style>

<div class="container-contact">
  <div class="row">
    <div class="col-sm-7">
      <p4> Zoekt u een specialist in
       metaalbewerking? </p4>
    </div>
    <div class="col-sm-5">


      <p5>  <i style="font-size:24px" class="fa">&#xf095;</i> &nbsp Bel +123456789 </p5>
      <br>
      <p5> <i style="font-size:24px" class="fa">&#xf0e0;</i> &nbsp Of vraag een offerte aan</p5>
    </div>  

  </div>
</div>