<style>
  .footer{
    background-color: #FFF;
    text-align: center;
  }

  p2 {
    color: #020E5D;
    font-family: helvetica;
    font-style: italic;
    font-size: 10px
  }
  
</style>
<div class="footer">
  <div class='row'>
    <div class="col-sm-4">
      <img id="metaalunie" src="https://9b031a47-c8aa-4d88-a132-5e79040f7ed0-00-2x1qdenu4s4uy.kirk.replit.dev/static/metaalunie.png" height="100">
    </div> 

    <div class="col-sm-4">
      <br><br>
      <p2> Copyright @Vansambeekmetaaltechniek 2024
    </div> 


    <div class="col-sm-4">
      <img id="metaalunie" src="https://9b031a47-c8aa-4d88-a132-5e79040f7ed0-00-2x1qdenu4s4uy.kirk.replit.dev/static/leerbedrijf.png" height="100">
    </div> 
  </div>
</div>    