<style>
  a {
    color: #020E5D;
  }
</style>
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"></a>
    <img src="https://9b031a47-c8aa-4d88-a132-5e79040f7ed0-00-2x1qdenu4s4uy.kirk.replit.dev/static/logo.png" alt="Bootstrap" width="160" height="140">

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/overons">Over Ons</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/werkzaamheden">Werkzaamheden</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/contact">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

